parameters:
	ignoreErrors:
		-
			message: '#^Property Farzai\\JsonSerializer\\Builder\\SerializerBuilder\:\:\$metadataCache \(Farzai\\JsonSerializer\\Cache\\MetadataCache\|null\) is never assigned Farzai\\JsonSerializer\\Cache\\MetadataCache so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Builder/SerializerBuilder.php

		-
			message: '#^Property Farzai\\JsonSerializer\\Builder\\SerializerBuilder\:\:\$typeRegistry \(Farzai\\JsonSerializer\\Types\\TypeRegistry\|null\) is never assigned Farzai\\JsonSerializer\\Types\\TypeRegistry so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Builder/SerializerBuilder.php
